<div class="sidebar">
    <div routerLink="categories" routerLinkActive="sidebar_active">categories</div>
    <div routerLink="positions" routerLinkActive="sidebar_active">positions</div>
    <div routerLink="setup" routerLinkActive="sidebar_active">setup</div>
    <div routerLink="rate" routerLinkActive="sidebar_active">rate</div>
    <div routerLink="skills" routerLinkActive="sidebar_active">skills</div>
    <div routerLink="degree" routerLinkActive="sidebar_active">degree</div>
    <div routerLink="course" routerLinkActive="sidebar_active">course</div>
    <div routerLink="universities" routerLinkActive="sidebar_active">universities</div>
</div>