<div class="find-jobs_content">
    <div class="find-jobs_content_list" (click)="view()" routerLink="/job-post/details/{{job._id}}/jobId/{{job.role?.data?.job_posts?._jobId}}">
        <div style="display: flex;">
            <div>
                <img *ngIf="logo != 'http://localhost:5200/undefined'" src="{{logo}}" >
                <img *ngIf="logo == 'http://localhost:5200/undefined'" src="assets/logo.png" >
            </div>
            <div class="find-jobs_content_list_info">
                <div class="find-jobs_content_list_info_company" *ngIf="job.role?.data?.employerInfo?.company === undefined">
                    undisclosed
                </div>
                <div class="find-jobs_content_list_info_company">
                    {{ job.role?.data?.employerInfo?.company }}
                </div>
                <div class="find-jobs_content_list_info_designation">
                    {{ job.role?.data?.job_posts?.designation }}
                </div>
                <div class="find-jobs_content_list_info_group">
                    <div class="find-jobs_content_list_info_group_location">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 20.8995L16.9497 15.9497C19.6834 13.2161 19.6834 8.78392 16.9497 6.05025C14.2161 3.31658 9.78392 3.31658 7.05025 6.05025C4.31658 8.78392 4.31658 13.2161 7.05025 15.9497L12 20.8995ZM12 23.7279L5.63604 17.364C2.12132 13.8492 2.12132 8.15076 5.63604 4.63604C9.15076 1.12132 14.8492 1.12132 18.364 4.63604C21.8787 8.15076 21.8787 13.8492 18.364 17.364L12 23.7279ZM12 13C13.1046 13 14 12.1046 14 11C14 9.89543 13.1046 9 12 9C10.8954 9 10 9.89543 10 11C10 12.1046 10.8954 13 12 13ZM12 15C9.79086 15 8 13.2091 8 11C8 8.79086 9.79086 7 12 7C14.2091 7 16 8.79086 16 11C16 13.2091 14.2091 15 12 15Z" fill="currentColor"></path></svg>
                        <div *ngIf="job.role?.data?.employerInfo?.location === undefined">
                            undisclosed
                        </div>
                        {{ job.role?.data?.employerInfo?.location }}
                    </div>
                    <div class="find-jobs_content_list_info_group_date">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 1V3H15V1H17V3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20 11H4V19H20V11ZM7 5H4V9H20V5H17V7H15V5H9V7H7V5Z" fill="currentColor"></path></svg>
                        {{ job.role?.data?.job_posts?.date_posted | date:"MMMM dd, yyyy" }}
                    </div>
                </div>
            </div>
        </div>
        <div class="find-jobs_content_list_tags">
            <span>{{ job.role?.data?.job_posts?.setup }}</span><span>{{ job.role?.data?.job_posts?.position }}</span><span>{{ job.role?.data?.job_posts?.urgent }}</span>
        </div>
        <div class="find-jobs_content_list_salary">
            <span>PHP {{ job.role?.data?.job_posts?.minSalary }} - PHP {{ job.role?.data?.job_posts?.maxSalary }}</span> / {{ job.role?.data?.job_posts?.rate }}
        </div>
    </div>
</div>